body {
    font-family: 'Roboto', sans-serif; /* Clean, modern sans-serif font */
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8; /* Subtle background color */
}

header {
    text-align: center;
    background-color: #30475e; /* Darker, professional header color */
    padding: 20px;
    color: white; /* Contrast with the background */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    padding: 10px 0;
    color: inherit; 
    text-decoration: none;
}

.project {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #555; /* Slightly darker footer text */
}
